<title>@Title</title>
<meta name="description" content="@Page">
@code {
    [Inject] IUriHelper UriHelper { get; set; }

    System.Timers.Timer TitleClock;
    string Title = $"Style Test {DateTime.Now.ToLongTimeString()}";
    string Page = "Hogwarts Index";
    protected override void OnInitialized()
    {
        base.OnInitialized();
        UriHelper.OnLocationChanged += LocationChanged;
        TitleClock = new System.Timers.Timer(1000);
        TitleClock.Elapsed += ClockTask;
        TitleClock.AutoReset = true;
        TitleClock.Start();
        SetPageValue(UriHelper.GetAbsoluteUri());
    }

    void ClockTask(object sender, EventArgs e)
    {
        Title = $"Style Test {DateTime.Now.ToLongTimeString()}";
        InvokeAsync(StateHasChanged);
    }

    void LocationChanged(object sender, LocationChangedEventArgs args)
    {
        SetPageValue(args.Location);
    }

    void SetPageValue(string Location)
    {
        Task.Factory.StartNew(
            async () =>
            {
                if (Location == UriHelper.GetBaseUri())
                {
                    Page = $"Hogwarts Index";
                }
                else
                {
                    var relativeUri = UriHelper.ToBaseRelativePath(UriHelper.GetBaseUri(), Location);
                    Page = $"Hogwarts {relativeUri.Split('/')[0]}";
                }
                await InvokeAsync(StateHasChanged);
            });
    }
}