@page "/"
@namespace HogwartsSSB.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    @(await Html.RenderComponentAsync<Head>())
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HogwartsSSB</title>
    <base href="~/" />
    <link rel="preload" href="css/bootstrap/bootstrap.min.css" as="style" onload="this.rel='stylesheet'"/>
    <link rel="preload" href="css/site.css" as="style" onload="this.rel='stylesheet'"/>
    @(await Html.RenderComponentAsync<HeadStyle>())
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>())</app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
